.entete-menu__logopage {
  @extend .logo;
  a {
    position: absolute;    
    color: black;
    text-decoration: none;   
    padding-right: 4em;
    font-size: 18px;
    font-weight: unset;
    top: auto;
    left: 1em;
  }
}
