.restaurants {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
  text-align: center;
  padding-bottom: 2em;
  background: $fond-gris;    
  &__titre {
    width: 90%;
    padding-top: 2em;
    padding-bottom: 1em;
    text-align: left;
    font-size: 20px;
    font-weight: bold;
  }  
}