.entete-menu {
  display: block;
  height: 100%;
  width: 100%;
  text-align: center;  
  background: transparent;
  &__img-restaurant {
    background: transparent; 
  }
}

.entete-menu__img-restaurant-img1 {
  height: 340px;
  background-image: url("../images/restaurants/restaurant1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.entete-menu__img-restaurant-img2 {
  height: 340px;
  background-image: url("../images/restaurants/restaurant2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.entete-menu__img-restaurant-img3 {
  height: 340px;
  background-image: url("../images/restaurants/restaurant3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.entete-menu__img-restaurant-img4 {
  height: 340px;
  background-image: url("../images/restaurants/restaurant4.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.menu-titre {
  position: absolute;
  display: flex;
  top: 330px;
  align-items: center;
  justify-content: space-between;
  padding-top: 1em;
  padding-bottom: 0.5em;
  padding-left: 1em;
  width: 100%;
  text-align: center;
  border-radius: 30px 30px 0px 0px;
  background: $fond-gris-solid;  
  color: black;
  font-size: 25px;
  text-align: left;
  i {
    padding-right: 1.5em;
    font-weight: normal;
  }
}

.menu {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;  
  height: 100%;
  width: 100%;
  text-align: center;
  background: $fond-gris-solid;  
  padding-bottom: 5em;
  &__commander {    
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    text-align: center;
    padding-top: 3em;
  }
}

.entrees {
  padding: 1em;
  text-align: left;
  width: 100%;
  &__souligne {
    height: 3px;
    width: 40px;
    background: $couleur-tertiaire;
  }  
}

.plats {  
  @include bordure;
  border-radius: 15px;
  display: flex;
  cursor: pointer;
  justify-content: space-between;
  align-items: center;
  background: white;
  overflow: hidden;
  width: 95%;
  margin-bottom: 1em;
  &__menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;    
    padding-left: 1em;
    width: 85%;    
    text-align: left;    
  }
  &__menu__nom {
    overflow: hidden;
    text-overflow: ellipsis;    
    font-weight: bold;
    font-size: 18px;
    opacity: 70%;
  }
  &__menu__description {
    font-size: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }    
  &__prix {
    position: absolute;
    display: block;
    right: 30px;
    text-align: right;
    padding-top: 1em;
    margin: 0px;
    font-weight: bold;
    flex: 0 0 25px;
  }
  &__check {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    right: -60px;
    height: 4em;    
    flex: 0 0 60px;
    background: $couleur-tertiaire;    
  }
  &__check  i {
    color: $couleur-tertiaire;
    font-size: 10px;
  }
  &:hover &__check {
      transform: translate(-60px, 0);
      transition: transform 330ms ease-in-out;
  }
  &:hover &__prix {
    transform: translate(-60px, 0);      
    transition: transform 330ms ease-in-out;
  }  
  &:hover i {
    transform: rotate(720deg);
    transition: transform 330ms ease-in-out;
  }   
  &:hover &__menu__description {    
    animation-duration: 330ms;
    animation-fill-mode: forwards;
    animation-name: resize;    
  }
  &:hover &__menu__nom {
    animation-duration: 330ms;
    animation-fill-mode: forwards;
    animation-name: resize;    
  }
}

.fa-bg {
  padding: 0.4em;
  border-radius: 25px;
  background: white;
}

@keyframes resize {
  0%  {
    width: 100%;
  }

  100% {    
    width: 80%;
  }
}