$fond-gris: rgba(#000000, 0.05); 
$couleur-primaire: #9356DC;
$couleur-secondaire: #FF79DA;
$couleur-tertiaire: #99E2D0;
$opacite-bordure-primaire: .2;
$opacite-bordure-secondaire: .8;
$opacite-element-primaire: .9;
$opacite-element-secondaire: .4;